<h2>feedback</h2>
<div class="content">
</div>

<script type="text/template" id="feedback-template">
  {{#feedback}}
    <div class="feedback">
      <span class="plugin">{{key}} v{{version}}</span>
      <blockquote>{{message}}</blockquote>
    </div>
  {{/feedback}}
</script>