<h2>reviews</h2>
<div class="content"></div>

<script type="text/template" id="reviews-template">
  {{#reviews}}
    <div class="review">
      <blockquote>
        <span class="rating" data-stars="{{stars}}"></span>
        {{review}}
        <cite>{{author.name}} for <span class="plugin-name">{{pluginName}}</span></cite>
      </blockquote>
    </div>
  {{/reviews}}
</script>