.content {
    font-size: 20px;
}

.review blockquote {
  color: #fff;
}

.review blockquote cite {
  color: #9a4473;
  display: block;
}

.review blockquote cite:before {
  content: "\2014\2009";
}

.review blockquote cite .plugin-name {
  font-weight: bold;
  color: #d05c9c;
}

.review .rating {
  position: relative;
  color: #f9c91a;
}

.review .rating:before {
  content: "\2606\2606\2606\2606";
}

.review .rating[data-stars]:after {
  position: absolute;
  left: 0;
}

.review .rating[data-stars="1"]:after { content: "\2605"; }
.review .rating[data-stars="2"]:after { content: "\2605\2605"; }
.review .rating[data-stars="3"]:after { content: "\2605\2605\2605"; }
.review .rating[data-stars="4"]:after { content: "\2605\2605\2605\2605"; }