.content {
    font-size: 35px;
    color: #454545;
    font-weight: bold;
    position: relative;
}

.legend.rickshaw_legend {
  position: absolute;
  top: 0;
  left: 40px;
}

.rickshaw_graph .x_tick {
  border: none;
}

.rickshaw_graph .x_tick .title {
  opacity: 0.7;
  background: #eee;
  bottom: 0;
  padding: 3px 3px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.rickshaw_graph .y_ticks {
  fill: white;
}

.rickshaw_graph .y_grid .tick {
  display: none;
}

.y-axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}