<h2>approvals</h2>
<div class="content">
</div>

<script type="text/template" id="approvals-template">
<ul class="approvals">
  {{#approvals}}
    <li>
      <span class="summary" data-status="{{status}}">{{summary}}</span>
    </li>
  {{/approvals}}
</ul>
</script>