.content {
    font-size: 20px;
}

.approvals {
  list-style: none;
  padding: 0;
  margin: 0;
}

.approvals li {
  margin: 1em 0;
}

.summary[data-status="Awaiting Resubmission"] { 
  color: #e60000;
}

.summary[data-status="Inactive"] { 
  color: #787878;
}

.summary[data-status="In Progress"] { 
  color: #d4d41c;
}

.summary[data-status="Open"], .summary[data-status="Reopened"] { 
  color: #fff;
}
