<div class="content featured-image-wrapper"></div>

<script type="text/template" id="logo-template">
  <table class="featured-image">
    <tr><td><img src="{{imageSrc}}"></td></tr>
  </table>
</script>