.question-title {
  font-size: 20px;
}

blockquote {
  color: #fff;
}

blockquote cite {
  color: #9a4473;
  display: block;
}

blockquote cite .question-date, .question-author {
  font-weight: bold;
  color: #d05c9c;
}
