<h2>answers</h2>
<div class="content">
</div>

<script type="text/template" id="answers-template">
<div class="answers">
  {{#questions}}
    <div class="question">
      <blockquote>
        <span class="question-title">{{title}}</span>
        <br>
        <cite>Asked by <span class="question-author">{{author}}</span> on <span class="question-date">{{last_activity_at}}</span></cite>
      </blockquote>
    </div>
  {{/questions}}
</div>
</script>